<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>171106_Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.project1.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeRegistration</display-name>
    <servlet-name>EmployeeRegistration</servlet-name>
    <servlet-class>com.project1.servlets.EmployeeRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeRegistration</servlet-name>
    <url-pattern>/EmployeeRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateForm</display-name>
    <servlet-name>CreateForm</servlet-name>
    <servlet-class>com.project1.servlets.CreateForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateForm</servlet-name>
    <url-pattern>/CreateForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormRequest</display-name>
    <servlet-name>FormRequest</servlet-name>
    <servlet-class>com.project1.servlets.FormRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormRequest</servlet-name>
    <url-pattern>/FormRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.project1.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DSReview</display-name>
    <servlet-name>DSReview</servlet-name>
    <servlet-class>com.project1.servlets.DSReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DSReview</servlet-name>
    <url-pattern>/DSReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewForm</display-name>
    <servlet-name>ViewForm</servlet-name>
    <servlet-class>com.project1.servlets.ViewForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewForm</servlet-name>
    <url-pattern>/ViewForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitFormDoc</display-name>
    <servlet-name>SubmitFormDoc</servlet-name>
    <servlet-class>com.project1.servlets.SubmitFormDoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitFormDoc</servlet-name>
    <url-pattern>/SubmitFormDoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approve</display-name>
    <servlet-name>Approve</servlet-name>
    <servlet-class>com.project1.servlets.Approve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approve</servlet-name>
    <url-pattern>/Approve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCurrentRem</display-name>
    <servlet-name>ViewCurrentRem</servlet-name>
    <servlet-class>com.project1.servlets.ViewCurrentRem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCurrentRem</servlet-name>
    <url-pattern>/ViewCurrentRem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deny</display-name>
    <servlet-name>Deny</servlet-name>
    <servlet-class>com.project1.servlets.Deny</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deny</servlet-name>
    <url-pattern>/Deny</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DenyFinish</display-name>
    <servlet-name>DenyFinish</servlet-name>
    <servlet-class>com.project1.servlets.DenyFinish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DenyFinish</servlet-name>
    <url-pattern>/DenyFinish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BenReview</display-name>
    <servlet-name>BenReview</servlet-name>
    <servlet-class>com.project1.servlets.BenReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BenReview</servlet-name>
    <url-pattern>/BenReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BenReviewForm</display-name>
    <servlet-name>BenReviewForm</servlet-name>
    <servlet-class>com.project1.servlets.BenReviewForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BenReviewForm</servlet-name>
    <url-pattern>/BenReviewForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalApprove</display-name>
    <servlet-name>FinalApprove</servlet-name>
    <servlet-class>com.project1.servlets.FinalApprove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalApprove</servlet-name>
    <url-pattern>/FinalApprove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterRem</display-name>
    <servlet-name>AlterRem</servlet-name>
    <servlet-class>com.project1.servlets.AlterRem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterRem</servlet-name>
    <url-pattern>/AlterRem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterFinish</display-name>
    <servlet-name>AlterFinish</servlet-name>
    <servlet-class>com.project1.servlets.AlterFinish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterFinish</servlet-name>
    <url-pattern>/AlterFinish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAlteredRem</display-name>
    <servlet-name>ViewAlteredRem</servlet-name>
    <servlet-class>com.project1.servlets.ViewAlteredRem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAlteredRem</servlet-name>
    <url-pattern>/ViewAlteredRem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterAppDen</display-name>
    <servlet-name>AlterAppDen</servlet-name>
    <servlet-class>com.project1.servlets.AlterAppDen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterAppDen</servlet-name>
    <url-pattern>/AlterAppDen</url-pattern>
  </servlet-mapping>
</web-app>