<table>
    <caption><h2>{{tableTitle}}</h2></caption>
    <tr>
        <th></th>
        <th class="details-button"></th>
        <th>filer</th>
        <th>status</th>
        <th>cost</th>
        <th>projected coverage</th>
        <th>event type</th>
        <th>time filed</th>
        <th>event start</th>
        <th>event end</th>
        <th class="description">description</th>
    </tr>

    <tr *ngFor="let req of requests">
        <td><span *ngIf="req.isUrgent" class="glyphicon glyphicon-alert"></span></td>
        <td class="details-button">
            <div class="button-bar">
                <button routerLink="/requests/{{req.id}}" type="button" class="btn btn-primary">Details</button>
            </div>
        </td>
        <td>{{req.filerEmail}}</td>
        <td>{{req.status}}</td>
        <td>{{req.cost}}</td>
        <td>{{req.funding}}</td>
        <td>{{req.eventType}}</td>
        <td>{{req.timeFiled | date:'MM/dd/yyyy'}}</td>
        <td>{{req.eventStart | date:'MM/dd/yyyy'}}</td>
        <td>{{req.eventEnd | date:'MM/dd/yyyy'}}</td>
        <td class="description">{{req.description}}</td>
    </tr>

</table>
<!--
<div><a routerLink="requests/files">attached-files</a></div>
<div><a routerLink="requests/history">attached-files</a></div>
-->
