<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- Root tag for testng.wml will always be suite. The name can be wwhatever you want -->
<suit name="MyCustomSuite">
	<test name="WhateverUWant">
		<class name="com.revature.testsuites.MercuryLogin"></class>
		<!-- You can have the class tag for multiple classes, of unigue name -->
	</test>
</suit>