<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TRMS_ProjectB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>revature.trms.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthoFilter</display-name>
    <filter-name>AuthoFilter</filter-name>
    <filter-class>revature.trms.servlets.AuthoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthoFilter</filter-name>
    <url-pattern>/Profile.html</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeePage</display-name>
    <servlet-name>EmployeePage</servlet-name>
    <servlet-class>revature.trms.servlets.EmployeePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeePage</servlet-name>
    <url-pattern>/EmployeePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>revature.trms.servlets.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>revature.trms.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>revature.trms.servlets.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>makeReimb</display-name>
    <servlet-name>makeReimb</servlet-name>
    <servlet-class>revature.trms.servlets.makeReimb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>makeReimb</servlet-name>
    <url-pattern>/makeReimb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Messages</display-name>
    <servlet-name>Messages</servlet-name>
    <servlet-class>revature.trms.servlets.Messages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Messages</servlet-name>
    <url-pattern>/Messages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessage</display-name>
    <servlet-name>SendMessage</servlet-name>
    <servlet-class>revature.trms.servlets.SendMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessage</servlet-name>
    <url-pattern>/SendMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAUser</display-name>
    <servlet-name>CreateAUser</servlet-name>
    <servlet-class>revature.trms.servlets.CreateAUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAUser</servlet-name>
    <url-pattern>/CreateAUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginFunc</display-name>
    <servlet-name>LoginFunc</servlet-name>
    <servlet-class>revature.trms.servlets.LoginFunc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFunc</servlet-name>
    <url-pattern>/LoginFunc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMessages</display-name>
    <servlet-name>ViewMessages</servlet-name>
    <servlet-class>revature.trms.servlets.ViewMessages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMessages</servlet-name>
    <url-pattern>/ViewMessages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRequests</display-name>
    <servlet-name>ViewRequests</servlet-name>
    <servlet-class>revature.trms.servlets.ViewRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequests</servlet-name>
    <url-pattern>/ViewRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Information</display-name>
    <servlet-name>Information</servlet-name>
    <servlet-class>revature.trms.servlets.Information</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Information</servlet-name>
    <url-pattern>/Information</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVProfile</display-name>
    <servlet-name>SVProfile</servlet-name>
    <servlet-class>revature.trms.servlets.SVProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVProfile</servlet-name>
    <url-pattern>/SVProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVSendMessage</display-name>
    <servlet-name>SVSendMessage</servlet-name>
    <servlet-class>revature.trms.servlets.SVSendMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVSendMessage</servlet-name>
    <url-pattern>/SVSendMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetInformation</display-name>
    <servlet-name>GetInformation</servlet-name>
    <servlet-class>revature.trms.servlets.GetInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInformation</servlet-name>
    <url-pattern>/GetInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVPendingRequests</display-name>
    <servlet-name>SVPendingRequests</servlet-name>
    <servlet-class>revature.trms.servlets.SVPendingRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVPendingRequests</servlet-name>
    <url-pattern>/SVPendingRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGrade</display-name>
    <servlet-name>AddGrade</servlet-name>
    <servlet-class>revature.trms.servlets.AddGrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGrade</servlet-name>
    <url-pattern>/AddGrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DHPendingRequests</display-name>
    <servlet-name>DHPendingRequests</servlet-name>
    <servlet-class>revature.trms.servlets.DHPendingRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DHPendingRequests</servlet-name>
    <url-pattern>/DHPendingRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGrade2</display-name>
    <servlet-name>AddGrade2</servlet-name>
    <servlet-class>revature.trms.servlets.AddGrade2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGrade2</servlet-name>
    <url-pattern>/AddGrade2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BCViewRequests</display-name>
    <servlet-name>BCViewRequests</servlet-name>
    <servlet-class>revature.trms.servlets.BCViewRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BCViewRequests</servlet-name>
    <url-pattern>/BCViewRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Assess</display-name>
    <servlet-name>Assess</servlet-name>
    <servlet-class>revature.trms.servlets.Assess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assess</servlet-name>
    <url-pattern>/Assess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>revature.trms.servlets.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
</web-app>