
.main
{
	min-width: 450px;
	width: 50%;
}

#formContainer
{
	padding: 20px;
}

#newUserRegistration > *:not(input[type="submit"])
{
	width: 100%;
	overflow: hidden;
}

#newUserRegistration select, #newUserRegistration input:not([type="reset"]):not([type="submit"]) 
{
    float: right;
}
/* This is thanks to @UncaughtTypeError from StackOverflow */
#newUserRegistration label {
    float: none;
}

#newUserRegistration > * > *:not(:first-child):not([type="submit"]):not([type="reset"]):not(button)
{
	margin-left: -4px;	
}

/*#newUserRegistration span
{
	overflow: auto;
}*/
