<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <!--
    #Root logger option
    log="C:/Users/ltop_russ/Desktop/stuff/proj/revature/RevatureInPerson/eclipse-workspace/JavaEETutorials/src/main/resources"
    log4j.rootLogger=ALL, stdout, file, html
    log4j.logger.bob=WARN
    # Direct the log messages to the console
    log4j.appender.stdout=org.apache.log4j.ConsoleAppender
    log4j.appender.stdout.Target=System.out
    log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
    log4j.appender.stdout.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n

    # Direct Log messages to file
    log4j.appender.file=org.apache.log4j.RollingFileAppender
    log4j.appender.file.File=${log}/exampleLog.log
    log4j.appender.file.MaxFileSize=10MB
    log4j.appender.file.MaxBackupIndex=10
    log4j.appender.file.layout=org.apache.log4j.PatternLayout
    log4j.appender.file.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n

    # html layout
    log4j.appender.html=org.apache.log4j.RollingFileAppender
    log4j.appender.html.File=${log}/exampleLog.html
    log4j.appender.html.layout=org.apache.log4j.HTMLLayout
    log4j.appender.html.layout.Title=HTML Layout Example
    log4j.appender.html.layout.LocationInfo=true
    -->

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d |-| %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>

        <!-- todo: verify
        <html>
            <file></file>
            <layout>
                <title></title>
                <location></location>

            </layout>
        </html>
        -->

    </Appenders>
    <Loggers>
        <Logger name="org.apache.log4j.xml" level="info"/>
        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
