<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>1705DynamicWebNotMaven</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>GlobalVar</param-name>
    <param-value>Global Bobbert</param-value>
  </context-param>
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.revature.servlets.HelloWorld</servlet-class>
    <init-param>
      <param-name>InitialParam</param-name>
      <param-value>Bobbert</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HeyBobbert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAndPost</display-name>
    <servlet-name>GetAndPost</servlet-name>
    <servlet-class>com.revature.servlets.GetAndPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAndPost</servlet-name>
    <url-pattern>/SomethingDifferent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Headers</display-name>
    <servlet-name>Headers</servlet-name>
    <servlet-class>com.revature.servlets.Headers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Headers</servlet-name>
    <url-pattern>/Headers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondHelloWorld</display-name>
    <servlet-name>SecondHelloWorld</servlet-name>
    <servlet-class>com.revature.servlets.SecondHelloWorld</servlet-class>
    <init-param>
      <param-name>robbert</param-name>
      <param-value>My other initial value</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondHelloWorld</servlet-name>
    <url-pattern>/SecondHelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCookie</display-name>
    <servlet-name>CreateCookie</servlet-name>
    <servlet-class>com.revature.servlets.CreateCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCookie</servlet-name>
    <url-pattern>/CreateCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchCookie</display-name>
    <servlet-name>FetchCookie</servlet-name>
    <servlet-class>com.revature.servlets.FetchCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchCookie</servlet-name>
    <url-pattern>/FetchCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCookie</display-name>
    <servlet-name>DeleteCookie</servlet-name>
    <servlet-class>com.revature.servlets.DeleteCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCookie</servlet-name>
    <url-pattern>/DeleteCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateSession</display-name>
    <servlet-name>CreateSession</servlet-name>
    <servlet-class>com.revature.servlets.CreateSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSession</servlet-name>
    <url-pattern>/CreateSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrackSession</display-name>
    <servlet-name>TrackSession</servlet-name>
    <servlet-class>com.revature.servlets.TrackSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackSession</servlet-name>
    <url-pattern>/TrackSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSession</display-name>
    <servlet-name>DeleteSession</servlet-name>
    <servlet-class>com.revature.servlets.DeleteSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSession</servlet-name>
    <url-pattern>/DeleteSession</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.revature.filters.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/AdminPage.html</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorHandler</display-name>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>com.revature.servlets.ErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.util.ArithmeticException</exception-type>
    <location>/ErrorHandler</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.revature.servlets.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>