<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/home" class="navbar-brand"><img src="../../../favicon.ico"></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/register">Register</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/new-request">New Request</a></li>
            <li><a routerLink="/reactive-form">Reactive Form</a></li>
        </ul>
    </div>
</nav>

