<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration> <!-- Root Tag -->
	<session-factory> <!-- Configuration for the session factory -->
	
		<!-- Configure the database. -->
		<!-- This is like the jdbc class.forName() -->
		<property name="hibernate.connection.driver_class">
			oracle.jdbc.OracleDriver
		</property>
		<!-- Configure which database engine you are connecting to -->
		<!-- if you ever change languages, this is the property to change -->
		<property name="hibernate.dialect">
			org.hibernate.dialect.Oracle10gDialect
		</property>
		<property name="hibernate.connection.url">
			jdbc:oracle:thin:@localhost:1521:xe
		</property>
		<property name="hibernate.connection.username">
			hibernate
		</property>
		<property name="hibernate.connection.password">
			hibernate
		</property>
		<property name="hibernate.connection.pool_size">
			10
		</property>
		<property name="show_sql">
			true
		</property>
		<!-- hbm2ddl is a very key property of hibernate.
			There are 4 different states you can place it as:
			update: perform hibernate actions on an existing database
			create: wipe any existing database tables, and create from scratch
			validate: creates the schema, destroying old data
			create-drop: database is cleared and emptied upon server shutdown -->
		<property name="hibernate.hbm2ddl.auto">
			create
		</property>
	</session-factory>
</hibernate-configuration>