<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TRMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>welcome.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateEmployeeAccountServlet</display-name>
    <servlet-name>CreateEmployeeAccountServlet</servlet-name>
    <servlet-class>com.revature.servlets.CreateEmployeeAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateEmployeeAccountServlet</servlet-name>
    <url-pattern>/CreateEmployeeAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementApplicationServlet</display-name>
    <servlet-name>ReimbursementApplicationServlet</servlet-name>
    <servlet-class>com.revature.servlets.ReimbursementApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementApplicationServlet</servlet-name>
    <url-pattern>/ReimbursementApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveReimbursementApplicationsServlet</display-name>
    <servlet-name>RetrieveReimbursementApplicationsServlet</servlet-name>
    <servlet-class>com.revature.servlets.RetrieveReimbursementApplicationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveReimbursementApplicationsServlet</servlet-name>
    <url-pattern>/RetrieveReimbursementApplicationsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessReimbursementApplicationsServlet</display-name>
    <servlet-name>ProcessReimbursementApplicationsServlet</servlet-name>
    <servlet-class>com.revature.servlets.ProcessReimbursementApplicationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessReimbursementApplicationsServlet</servlet-name>
    <url-pattern>/ProcessReimbursementApplicationsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateReimbursementApplicationServlet</display-name>
    <servlet-name>UpdateReimbursementApplicationServlet</servlet-name>
    <servlet-class>com.revature.servlets.UpdateReimbursementApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReimbursementApplicationServlet</servlet-name>
    <url-pattern>/UpdateReimbursementApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LockEmployeeAccountServlet</display-name>
    <servlet-name>LockEmployeeAccountServlet</servlet-name>
    <servlet-class>com.revature.servlets.LockEmployeeAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LockEmployeeAccountServlet</servlet-name>
    <url-pattern>/LockEmployeeAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PullEmployeeAccountsServlet</display-name>
    <servlet-name>PullEmployeeAccountsServlet</servlet-name>
    <servlet-class>com.revature.servlets.PullEmployeeAccountsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PullReimbursementApplicationsServlet</servlet-name>
    <url-pattern>/PullReimbursementApplicationsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PullReimbursementApplicationsServlet</display-name>
    <servlet-name>PullReimbursementApplicationsServlet</servlet-name>
    <servlet-class>com.revature.servlets.PullReimbursementApplicationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PullEmployeeAccountsServlet</servlet-name>
    <url-pattern>/PullEmployeeAccountsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoaderServlet</display-name>
    <servlet-name>LoaderServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoaderServlet</servlet-name>
    <url-pattern>/LoaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewReimbursementApplicationServlet</display-name>
    <servlet-name>NewReimbursementApplicationServlet</servlet-name>
    <servlet-class>com.revature.servlets.NewReimbursementApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewReimbursementApplicationServlet</servlet-name>
    <url-pattern>/NewReimbursementApplicationServlet</url-pattern>
  </servlet-mapping>
</web-app>