<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyFrontController</display-name>
    <servlet-name>MyFrontController</servlet-name>
    <servlet-class>com.revature.servlets.MyFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitRequest</display-name>
    <servlet-name>SubmitRequest</servlet-name>
    <servlet-class>com.revature.servlets.SubmitRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitRequest</servlet-name>
    <url-pattern>/SubmitRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRequestsServlet</display-name>
    <servlet-name>GetRequestsServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRequestsServlet</servlet-name>
    <url-pattern>/GetRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUsernameServlet</display-name>
    <servlet-name>GetUsernameServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsernameServlet</servlet-name>
    <url-pattern>/GetUsernameServlet</url-pattern>
  </servlet-mapping>
</web-app>