<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TRMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.revature.servlets.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.revature.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newReimbursementForm</display-name>
    <servlet-name>newReimbursementForm</servlet-name>
    <servlet-class>com.revature.servlets.newReimbursementForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newReimbursementForm</servlet-name>
    <url-pattern>/newReimbursementForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getUserForms</display-name>
    <servlet-name>getUserForms</servlet-name>
    <servlet-class>com.revature.servlets.getUserForms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserForms</servlet-name>
    <url-pattern>/getUserForms</url-pattern>
  </servlet-mapping>
</web-app>