<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SubmitRequest</display-name>
    <servlet-name>SubmitRequest</servlet-name>
    <servlet-class>com.revature.servlets.SubmitRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitRequest</servlet-name>
    <url-pattern>/SubmitRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRequestServlet</display-name>
    <servlet-name>GetRequestServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRequestServlet</servlet-name>
    <url-pattern>/GetRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUnverifiedEmployeesServlet</display-name>
    <servlet-name>GetUnverifiedEmployeesServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetUnverifiedEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUnverifiedEmployeesServlet</servlet-name>
    <url-pattern>/GetUnverifiedEmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUnverifiedUsers</display-name>
    <servlet-name>GetUnverifiedUsers</servlet-name>
    <servlet-class>com.revature.servlets.GetUnverifiedUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUnverifiedUsers</servlet-name>
    <url-pattern>/GetUnverifiedUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUsernameServlet</display-name>
    <servlet-name>GetUsernameServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsernameServlet</servlet-name>
    <url-pattern>/GetUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAdminTitle</display-name>
    <servlet-name>GetAdminTitle</servlet-name>
    <servlet-class>com.revature.servlets.GetAdminTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAdminTitle</servlet-name>
    <url-pattern>/GetAdminTitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDirectSupervisors</display-name>
    <servlet-name>GetDirectSupervisors</servlet-name>
    <servlet-class>com.revature.servlets.GetDirectSupervisors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDirectSupervisors</servlet-name>
    <url-pattern>/GetDirectSupervisors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignEmployeeToDirectSupervisor</display-name>
    <servlet-name>AssignEmployeeToDirectSupervisor</servlet-name>
    <servlet-class>com.revature.servlets.AssignEmployeeToDirectSupervisor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignEmployeeToDirectSupervisor</servlet-name>
    <url-pattern>/AssignEmployeeToDirectSupervisor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.revature.servlets.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoesEmployeeExist</display-name>
    <servlet-name>DoesEmployeeExist</servlet-name>
    <servlet-class>com.revature.servlets.DoesEmployeeExist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoesEmployeeExist</servlet-name>
    <url-pattern>/DoesEmployeeExist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestResponse</display-name>
    <servlet-name>RequestResponse</servlet-name>
    <servlet-class>com.revature.servlets.RequestResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestResponse</servlet-name>
    <url-pattern>/RequestResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProjectedCost</display-name>
    <servlet-name>GetProjectedCost</servlet-name>
    <servlet-class>com.revature.servlets.GetProjectedCost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProjectedCost</servlet-name>
    <url-pattern>/GetProjectedCost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeGetRequests</display-name>
    <servlet-name>EmployeeGetRequests</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeGetRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeGetRequests</servlet-name>
    <url-pattern>/EmployeeGetRequests</url-pattern>
  </servlet-mapping>
</web-app>