<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TRMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.revature.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.revature.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LogoutFilter</display-name>
    <filter-name>LogoutFilter</filter-name>
    <filter-class>com.revature.filters.LogoutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogoutFilter</filter-name>
    <url-pattern>/login.html</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserInfo</display-name>
    <servlet-name>GetUserInfo</servlet-name>
    <servlet-class>com.revature.servlets.GetUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfo</servlet-name>
    <url-pattern>/GetUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationSetup</display-name>
    <servlet-name>ApplicationSetup</servlet-name>
    <servlet-class>com.revature.servlets.ApplicationSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationSetup</servlet-name>
    <url-pattern>/ApplicationSetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationSubmit</display-name>
    <servlet-name>ApplicationSubmit</servlet-name>
    <servlet-class>com.revature.servlets.ApplicationSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationSubmit</servlet-name>
    <url-pattern>/ApplicationSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovalSetup</display-name>
    <servlet-name>ApprovalSetup</servlet-name>
    <servlet-class>com.revature.servlets.ApprovalSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovalSetup</servlet-name>
    <url-pattern>/ApprovalSetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectID</display-name>
    <servlet-name>RejectID</servlet-name>
    <servlet-class>com.revature.servlets.RejectID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectID</servlet-name>
    <url-pattern>/RejectID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveID</display-name>
    <servlet-name>ApproveID</servlet-name>
    <servlet-class>com.revature.servlets.ApproveID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveID</servlet-name>
    <url-pattern>/ApproveID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateCheck</display-name>
    <servlet-name>DateCheck</servlet-name>
    <servlet-class>com.revature.servlets.DateCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateCheck</servlet-name>
    <url-pattern>/DateCheck</url-pattern>
  </servlet-mapping>
</web-app>