<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TRMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeRegistration</display-name>
    <servlet-name>EmployeeRegistration</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeRegistration</servlet-name>
    <url-pattern>/EmployeeRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.revature.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.revature.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchEmployee</display-name>
    <servlet-name>FetchEmployee</servlet-name>
    <servlet-class>com.revature.servlets.FetchEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchEmployee</servlet-name>
    <url-pattern>/FetchEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewYourRequests</display-name>
    <servlet-name>ViewYourRequests</servlet-name>
    <servlet-class>com.revature.servlets.ViewYourRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewYourRequests</servlet-name>
    <url-pattern>/ViewYourRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewRequestForm</display-name>
    <servlet-name>NewRequestForm</servlet-name>
    <servlet-class>com.revature.servlets.NewRequestForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRequestForm</servlet-name>
    <url-pattern>/NewRequestForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditYourRequests</display-name>
    <servlet-name>EditYourRequests</servlet-name>
    <servlet-class>com.revature.servlets.EditYourRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditYourRequests</servlet-name>
    <url-pattern>/EditYourRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewRequest</display-name>
    <servlet-name>NewRequest</servlet-name>
    <servlet-class>com.revature.servlets.NewRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRequest</servlet-name>
    <url-pattern>/NewRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditJustification</display-name>
    <servlet-name>EditJustification</servlet-name>
    <servlet-class>com.revature.servlets.EditJustification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditJustification</servlet-name>
    <url-pattern>/EditJustification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.revature.servlets.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFile</display-name>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.revature.servlets.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
</web-app>