<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>trms</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserRegistration</display-name>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>com.revature.trms.servlet.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDashboard</display-name>
    <servlet-name>UserDashboard</servlet-name>
    <servlet-class>com.revature.trms.servlet.UserDashboard</servlet-class>
  </servlet>
  <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.revature.trms.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/LoginServlet</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>UserDashboard</servlet-name>
    <url-pattern>/UserDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUserSession</display-name>
    <servlet-name>CreateUserSession</servlet-name>
    <servlet-class>com.revature.trms.services.CreateUserSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserSession</servlet-name>
    <url-pattern>/CreateUserSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUsers</display-name>
    <servlet-name>GetUsers</servlet-name>
    <servlet-class>com.revature.trms.servlet.GetUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsers</servlet-name>
    <url-pattern>/GetUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementTable</display-name>
    <servlet-name>ReimbursementTable</servlet-name>
    <servlet-class>com.revature.trms.servlet.ReimbursementTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementTable</servlet-name>
    <url-pattern>/ReimbursementTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.trms.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestReimbursement</display-name>
    <servlet-name>RequestReimbursement</servlet-name>
    <servlet-class>com.revature.trms.servlet.RequestReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestReimbursement</servlet-name>
    <url-pattern>/RequestReimbursement</url-pattern>
  </servlet-mapping>
</web-app>