<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>

<section class="section-below-nav">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</section>

<section class="footer-section">
    <!-- footer from: https://demo.tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/footer-distributed.html -->
    <footer class="footer container">
        <div>
            <div class="footer-right col-xs-4">
                <label for="footer-logo"><a routerLink="home" id="footer-logo"><img src="../../../favicon.ico"></a>TRMS © 2017</label>
            </div>

            <div class="footer-left col-xs-8">
                <a routerLink="home" class="col-xs-3 col-md-2 col-lg-1">Home</a>
                <a routerLink="home" class="col-xs-3 col-md-2 col-lg-1">About</a>
                <a routerLink="Contact" class="col-xs-4 col-md-2 col-lg-1">Contact</a>
            </div>
        </div>
    </footer>
</section>

