<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>

<section class="section-below-nav">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</section>

<section class="footer-section">
    <!-- footer from: https://demo.tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/footer-distributed.html -->
    <footer class="footer footer-distributed container">
            <div class="footer-right col-sm-2">
                <p class="footer-links">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Contact</a>
                </p>
            </div>

            <div class="footer-left col-lg-offset-5 col-sm-6">
                <p><span>TRMS magic © 2017</span><a routerLink="home" class="navbar-brand"><img src="../../../favicon.ico"></a> </p>
            </div>
    </footer>
</section>
