<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>

<section class="section-below-nav">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</section>

<section class="footer-section">
    <!-- footer from: https://demo.tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/footer-distributed.html -->
    <footer class="footer footer-distributed container">
            <div class="footer-right">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>

            <div class="footer-left">

                <p class="footer-links">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Contact</a>
                </p>
                <p>Company Name © 2015</p>
            </div>
    </footer>
</section>
